/* header */

/* banner */
.banner {
    color: aqua;
    text-align: center;
    font-family: Merriweather;
    margin: 50px 140px 100px 140px;
    padding: 50px 300px;
    background-image: url('images/Banner.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

.banner-small-text {
    margin-top: 227px;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 400;
}

.banner-large-text {
    margin-top: 0;
    font-size: 72px;
    font-weight: 900;
}

/* discount */
.discount {
    margin-top: 100px;
    font-family: Inter;
}

.discount-text {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}

.d-text-one {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.d-text-two {
    margin-top: 0;
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.discount img {
    display: block;
    margin: auto;
}

/* banner-two */
.banner-two {
    margin: 100px 140px;
    padding: 126px;
    display: flex;
    justify-content: space-between;
    background-image: url('images/Vectorrr.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

.banner-two-lrg-txt {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    max-width: 642px;
}

.banner-two-sml-txt {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 700px;
}

.extra-text {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding-left: 32px;
}

/* main */

/* time-table section */
.time-table {
    margin: 0 140px;
    text-align: center;
    background-color: #e4d1c4;
    padding: 100px 380px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    border-radius: 16px;
}

.schedule {
    margin: 0 0;
}

.orange {
    color: #F00;
}

.join-button {
    margin-top: 64px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: #F00;
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
}

/* celebration section */
.celebration {
    display: flex;
    justify-content: space-between;
    margin: 100px 140px;
    border-radius: 16px;
}

.c-one {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0;
}

.c-two {
    margin-top: 0;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: left;
}

.c-three {
    margin-top: 0;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.celebration-image {
    margin: 0 95px;
    padding: 30px;
    border-radius: 463px;
    border: 15px solid #F00;
}

.c-four {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}

.c-five {
    margin-top: 0;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

/* holidays section */
.holidays {
    margin: 0 140px;
    text-align: center;
}

.h-one {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.h-two {
    margin-top: 0;
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 0;
}

.h-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.h-three {
    max-width: 900px;
    margin: auto;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

/* advertise section */
.advertise {
    margin: 50px 140px 100px 140px;
    display: flex;
    justify-content: space-between;
    background-image: url('images/Rectangle\ 1.png'), url('images/Rectangle\ 2.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right top, bottom center;
    padding-right: 330px;

}

/* porduct portfolio section */
.product-portfolio {
    margin: 0 140px 50px 140px;
    text-align: left;
    max-width: 896px;
}

.p-1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.p-2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.p-3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

/* products section */
.products {
    margin: 0 140px 100px 140px;
}

.product:hover {
    transform: scale(1.1);
}

/* subscribe section */
.subscribe {
    margin: 0 140px 100px 140px;
    text-align: center;
    background-color: #e4d1c4;
    border-radius: 16px;
    padding: 80px 0;

}

.s-1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 0;
}

.s-2 {
    margin-top: 0;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 896px;
    margin: auto;
    margin-bottom: 48px;
}

input {
    width: 648px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    text-align: center;
    font-size: 24px;
    border: none;
}

.subscriber-button {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
}

/* footer */
footer {
    background-color: #070211;
}

.footer-container {
    padding: 120px 140px;
}

.connect {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}
.social-links{
    justify-content: center;
    display: flex;
    padding: 48px 0;;
}
.s-link{
    margin: 24px;
}
.extension{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}